.Login {
    width: 70%;
    height: 80%;
    margin: 7% 15%;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.Login_Header h5 {
    padding-top: 50px;
}
.Login_Header h3 {
    padding-top: 50px;
    padding-bottom: 100px;    
}

.Login_Footer {
    padding-top: 150px;
    padding-bottom: 50px;
}